<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boilerplate</title>
  {{ function('wp_head') }}
</head>
<body>

  <div class="c-main-header">

    <div class="c-main-header__logo">
      Boilerplate Logo
    </div>

    <nav class="c-main-header__nav">
      <figure id="hamburger" class="c-main-header__hamburger">
        <span class="c-main-header__burger-line"></span>
        <span class="c-main-header__burger-line"></span>
        <span class="c-main-header__burger-line"></span>
      </figure>

      {{ nav }}

    </nav>

  </div>
