.hamburger:hover {
  cursor: pointer;
}

.burger-line {
  display: block;
  height: 3px;
  width: 30px;
  margin-bottom: 5px;
}

.burger-line:last-of-type() {
  margin-bottom: 0;
}

.main-navigation li {
  display: inline;
  text-transform: uppercase;
}