.search {
  order: -1;
  &__input {
    background-color: #631DC5;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    color: white;

    &:focus {
      border: 2px solid white;
    }
  }
  &__button {
    background-color: transparent;
    border: 0;
    width: 20px;
    height: 20px;
  }
  &__icon {
    display: block;
    position: relative;
    top: 3px;
  }
}

@media (min-width: 768px) {
  .search {
    order: initial;
    &__input {
      background-color: initial;
      color: initial;
    }
  }
}